/*=======GENERAL ==================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /*1 rem = 10px*/

  --hue: 170;
  color: hsl(170, 100%, 26%);

  --primary-light: hsl(var(--hue), 100%, 26%);
  --brand-hover: hsl(var(--hue), 100%, 14%);

  --primary-brand: hsl(calc(var(--hue) + 10), 14%, 97%);

  --secondary-dark-headline: hsl(210, 11%, 15%);
  --secondary-dark-paragraph: hsl(210, 9%, 31%);

  --primary-beige: hsl(39, 100%, 97%);

  --bg-light: hsl(180, 14%, 97%);
  --brand-light: hsl(calc(var(--hue) - 22), 23%, 89%);

  --nav-height: 7.2rem;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  font-family: "DM Sans", sans-serif;
  font-size: 1.6rem;
  color: var(--primary-light);
  overflow: overlay;
  background-color: var(--bg-light);
}

ul {
  list-style: none;
}

.button {
  color: white;
  text-transform: uppercase;
  background-color: var(--primary-light);
  border-style: none;
  border-radius: 4rem;

  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;

  margin-bottom: 6rem;

  width: fit-content;
  padding: 1.6rem 3.2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;

  transition: background 200ms;
}

.button:hover {
    background-color: var(--brand-hover);

}

.socialLinks {
  display: flex;
  gap: 3.2rem;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.wrapper {
  width: min(50rem, 100%);
  margin: 0 auto;
  text-align: center;
  padding: 0 2.4rem;
}

section {
  padding-block: 10rem;
}



section header h4 {
  font-size: 1.4rem;
  color: var(--primary-light);
  padding-bottom:1.6rem;
  line-height: 150%;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
}

section header h2 {
  font-size: 3rem;
  line-height: 3.9rem;
  text-align: center;
  color: var(--secondary-dark-headline);
  /* width: 31.4rem; */
}

section header h1 {
  font-size: 3.4rem;
  color: var(--secondary-dark-headline);

  line-height: 130%;

  margin-bottom: 2.4rem;
}

section .content p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;

  color: var(--secondary-dark-paragraph);
}

img {
  width: 100%;
}

/*custom colors*/
#services .card circle {
  fill: var(--brand-light);
}

#navBar .logo path[fill*="#00856F"],
#backToTopButton circle {
  fill: var(--primary-light);
}

button.open-menu path[stroke*="00856F"],
#contact .content li path {
  stroke: var(--primary-light);
}

body.menu-expanded #navBar .logo path,
#navBar.scroll .logo path[fill*="#00856F"]{
  fill: white;
}

#navBar.scroll button.open-menu path[stroke*="00856F"] {
  stroke: white;
} 

/*========NAVIGATION BAR ================*/
nav {
  display: flex;

  width: 100vw;
  height: var(--nav-height);

  position: fixed;
  top: 0;

  z-index: 100;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background-color: var(--primary-light);
}

nav.scroll .logo svg path {
  fill: white;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

nav .menu,
nav .close-menu {
  position: fixed;
}

/*==================EXPANDED MENU ===========*/
.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateY(100%);
  position: fixed;
}

body.menu-expanded .menu {
  top: 0%;
  left: 0;

  background-color: var(--primary-light);
  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);

  transition: transform 400ms;
  transform: translateY(0);
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  text-align: center;

  margin-top: 6rem;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul li a {
  color: white;
  text-decoration: none;
}

.menu .button {
  background: #ffffff;
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary-light);
  padding: 1.6rem 3.2rem;
  display: inline-block;
  margin-top: 4.8rem;
  margin-bottom: 8rem;
}

.menu .button:hover{
  background-color: var(--brand-hover);
  color: white;
  transition: 150ms;
}


body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}

body.menu-expanded .logo path {
  fill: white;
}

/*================== HOME ===========*/
#home::before {
  content: "";
  display: block;
  width: 100%;
  height: calc(76% + var(--nav-height));
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: var(--brand-light);
}

#home {
  padding-block: 0;
  padding-top: calc(4.1rem + var(--nav-height));
  }
}

#home p {
  font-size: 1.8rem;
  color: var(--secondary-dark-paragraph);
  margin-bottom: 3.2rem;
  line-height: 150%;
}

#home .button {
  align-items: center;
  margin: 0 auto;
}

#home img {
  width: 26.4rem;
  display: block;
  object-position: 0 2rem;
  margin: 0 auto;
  
}

#home .stats {
  width: 100%;
  background-color: var(--primary-beige);
  border: 1px solid #dce9e2;
  border-radius: 0.6rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
  padding: 4rem 0;
}

#home .stat h3 {
  font-size: 4.8rem;
  color: var(--secondary-dark-headline);
  line-height: 130%;
  margin-bottom: 0.4rem;
}

#home .stat p {
  color: var(--primary-light);
  margin: 0;
}

/* ================== SERVICES =================== */
#services {
  margin-bottom: 10rem;
}

#services header h2 {
  margin-bottom: 6rem;
}

#services .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#services .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.6rem;

  padding: 2.4rem;
  text-align: left;

  background: white;
  border: 0.1rem solid #dce9e2;
  border-radius: 0.6rem;
}

.card h3 {
  color: var(--secondary-dark-headline);
}

.card p {
  color: var(--secondary-dark-paragraph);
}



/* ================== ABOUT ================== */
#about {
  background-color: var(--primary-beige);
}

#about header h2,
#about header h4,
#about .content p {
  text-align: left;
}

#about header h2 {
  margin-bottom: 2.4rem;
}

#about .content p {
  margin: 2.4rem 0 6rem;
}

#about img {
  margin-bottom: 10rem;
}

/* ========================= CONTACT ========= */
#contact {
  padding-top: 10rem;
  padding-bottom: 10rem;;
}

#contact h2,
ul {
  text-align: left;
}

#contact ul {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 3.2rem 0;
}

#contact ul li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

#contact h2 {
  text-align: left;
}

#contact li {
  color: var(--secondary-dark-paragraph);
}

/* ========================= FOOTER ========= */

footer {
  background-color: var(--primary-light);
  padding-block: 6rem;

  color: white;

}

footer .wrapper {
  text-align: left;
}

footer .logo {
  display: inline-block;
  margin-bottom: 2.4rem;
}

footer .logo svg {
  width: 23.6rem;
  height: 3.1rem;
}

footer .logo path {
  fill: white;
}

footer p {
  margin-bottom: 1.2rem;
}

footer .socialLinks {
  padding-top: 3.2rem;
  justify-content: flex-start;
}

/* ==============BACK TO TOP============ */
#backToTopButton {
  position: fixed;
  bottom: 1rem;
  right: 2.5rem;

  opacity: 0;
  visibility: hidden;

  transform: translateY(100%);
  transition: 200ms;
}

#backToTopButton.show  {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* RESPONSIVE */
@media (min-width: 1024px) {
  /*====== GENERAL =======*/
  body {
    overflow: auto;
  }

  .wrapper {
    width: min(112rem, 100%);
    display: grid;
  }

  section {
    padding-block: 16rem;
  }
/*===== NAVIGATION ======*/
  /* RESET */
  nav#navBar .wrapper * {
    margin: 0;
    padding: 0;
    visibility: initial;
    display: initial;
    opacity: initial;
    flex-direction: initial;
    position: initial;
    font-size: initial;
    transform: initial;
    color: initial;
    background-color: initial;
    font-weight: initial;
  }


  nav#navBar .close-menu,
  nav#navBar .open-menu,
  nav#navBar .socialLinks {
    display: none;
  }

  nav#navBar .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 58%;
  }

  nav#navBar .menu ul:nth-child(1) {
    display: flex;
    gap: 3.2rem;
  }


  nav#navBar .menu ul li a {
    line-height: 2.1rem;
    color: var(--primary-light);
    opacity: 0.7;
  }

  nav#navBar .menu a.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2.4rem;
    color: var(--primary-light);
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-transform: uppercase;
    border: 1px solid var(--primary-light);
    border-radius: 40px;
  }
  
  nav#navBar .menu a.button:hover {
    background-color: var(--primary-light);
    color: white;
  }

  nav#navBar.scroll .menu a.button:hover {
   border: none;
   filter: brightness(1.3);
  }

  nav#navBar.scroll .menu ul li a {
    color: var(--primary-brand);
    opacity: 0.6;
  }
  nav#navBar.scroll .menu a.button {
    border-color: white;
    color: white;
  }

  nav#navBar .menu li a {
    transition: opacity 0.4s;
  }

  nav#navBar .menu ul li a:hover{
    opacity: 1;
    font-weight: 700;
  }

  nav#navBar .menu li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--primary-light);

    position: relative;
    bottom: -2rem;
    left: -1rem;

    display: block;
    transition: width 0.2s;
  }

  nav#navBar.scroll .menu li a::after{
    background-color: white;
  }

  nav#navBar .menu li a:hover::after {
    padding: 0 1rem;
    width: 100%;
  }

  nav#navBar.scroll .menu li a:hover {
    opacity: 1;
  }

  /*======= HOME ======*/
  #home::before {
    height: calc(96% - var(--nav-height));
  }

  #home{
    padding-top: var(--nav-height);
  }
  

  #home .wrapper {
    grid-template-columns: 60.5rem 1fr;
    grid-template-areas: 
    'A B'
    'C C';
  }

  #home .col-a {
    grid-area: A;
    text-align: left;
    align-self: center;
  }

  #home .col-b {
    grid-area: B;
  }

  #home h1 {
    font-size: 5.2rem;
  }

  #home .content p {
    font-size: 1.8rem;
  }

  #home .stats {
    grid-area: C;
    flex-direction: row;
    padding: 6rem;
    gap: 0;
  }

  #home .stats .stat {
    flex: 1;
  }

  #home .stats .stat + .stat {
    border-left: 1px solid var(--primary-light);
  }

  #home .button {
    margin: 0;
  }

  #home img {
    width: 42rem;

  }


}